$color-black: #000;
$color-brick: #ac873d;
$color-blue-dark: #1e2e53;
$color-bg: #f4f4f3;
$color-white: #ffffff;
$color-orange: #b34f36;
$color-orange-hover: #cc4422;
$color-gray: #ededed;
$color-link: #929292;
$color-on-top: #343434;
$color-text-brick: #c89e4c;

$font-hira: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", sans-serif;
$font-meiryo: "メイリオ", Meiryo, sans-serif;
$font-pgothic: "MS Pゴシック", "MS PGothic", sans-serif;
$font-alata: 'Alata', sans-serif;